body {
  background-color: lightblue;
  overflow: hidden;
}
h1 {
  color: rgb(233, 211, 183);
}
hr{
  background-color: rgba(255, 255, 255, 0.514);
}
.cn1{
  background-color: rgba(32, 32, 130, 0.8);
  border-radius: 10px;
}
.header{
  background-color: rgba(180, 179, 179, 0.5);
  padding: 50px;
}
