body {
  background-color: lightblue;
  overflow: hidden;
}
h1 {
  color: navy;
  margin-left: 20px;
}
.cn1{
  background-color: rgba(32, 32, 130, 0.8);
  border-radius: 10px;
}
.header{
  background-color: rgba(180, 179, 179, 0.5);
  padding: 10px;
}