*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background-color: rgb(222, 233, 236);
}
img {
  height: auto;
}
h1 {
  color: rgb(252, 244, 217);
  text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.575);
  margin-bottom: 2px;
}
hr{
  background-color: rgba(255, 255, 255, 0.514);
  margin: 0;
}
.cn1, .header, .cn2 {
  background-color: rgba(255, 254, 254, 0.3);
  border-radius: 10px;
  color:gray;
}
.cn1{
  padding: 20px;
}

h3{
  color: rgb(252, 244, 217);
  text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.575);
  border-bottom: 2px solid gray; 
  font-size: 24px;
  margin-top: 2px;
  margin-bottom: 2px ;
}
h4{
  margin: 2px;
  color:gray;
}
.cn2{
  min-height: 350px; 
}

.btn{
  border-radius: 25px;
  border: 0px;
  font-size: 30px;
  padding: 15px;
  width: 60px;
  text-shadow: -2px 2px 2px gray;
  background-color: transparent;
  color: gray;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

#pic {
  border-radius: 20px;
  margin-top: 20px;
  width: 100%; 
}